// {
//   "presets": [
//     ["@babel/preset-env", {
//       "modules": false,
//       "development": {
//         "presets": ["react-hmre"],
//         "plugins": [
//           ["react-transform", {
//             "transforms": [{
//               "transform": "react-transform-hmr",
//               "imports": ["react"],
//               "locals": ["module"]
//             }]
//           }]
//         ]
//       }
//     }],
//     // "@babel/preset-env",
//     "@babel/preset-react",
//     "@babel/preset-typescript"
//   ]
// }

{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [],
  "env": {
  //   "development": {
  //     "presets": ["react-hmre", {"modules": false}],
  //     "plugins": [
  //         ["react-transform", {
  //           "transforms": [{
  //               "transform": "react-transform-hmr",
  //               "imports": ["react"],
  //               "locals": ["module"]
  //           }]
  //         }]
  //       ]
  //     },
      "production": {
          "plugins": [
            "@babel/proposal-class-properties",
            "@babel/proposal-object-rest-spread"
          ]
      }
    }
  }
